@{
    ViewBag.Title = "Ошибка";
    Layout = "_Layout";
}

<div class="text-center">
    <h3>Вы не обладаете правом выполнить операцию</h3>
    <a asp-action="Index" asp-controller="Task" 
       class="btn btn-outline-info">На главную</a>
</div>
